<html>
    <head>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="./css/紙樣式.css"/>
        <link rel="stylesheet" href="./css/網頁樣式.css"/>
        <title>
            {{標題}}
        </title>
    </head>
    <body>
        <div class="左板">
            <p>
                文件：
            </p>
            <ul>
            {% for 文件 in 文件列表 %}
            <li><a href='{{文件["html文件名"]}}'>{{文件['標題']}}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="右板">
            <h1>{{標題}}</h1>
            {{body內容}}
            <div class="插入"></div>
            <div class="終焉">
                {% if 前 %}
                <a class="前" href='{{前["html文件名"]}}'>
                    ← {{前["標題"]}}
                </a>
                {% endif %}
                {% if 後 %}
                <a class="後" href='{{後["html文件名"]}}'>
                    {{後["標題"]}} →
                </a>
                {% endif %}
            </div>
        </div>
    </body>
</html>
